{
  "presets": [
    [
      "es2015",
      {
        "module": "false"
      }
    ],
    "flow",
    "react"
  ],
  "plugins": [
    "transform-flow-strip-types",
    "transform-async-generator-functions"
  ],
  "env": {
    "development": {
      "presets": [
        "react-hmre"
      ]
    }
  }
}
